@import 'vars';

.CardsContainer {
    position: relative;
    padding: 80px 0 80px;
    width: 100vw;
    height: calc(2.4 * 100vh);
    display: grid;
    place-items: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 4fr);
    background: $--white;
}


.CardsContainer .grayB {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100vw * (4/12));
    height: inherit;
    background: $--dark-gray;
}

.CardsContainer article {
    grid-column: 4 / 11;
}

@media (max-width: 700px) {

    .CardsContainer article {
        grid-column: 2 / 12;
    }
}

@media (max-width: 400px) {
    .CardsContainer {
        align-items: flex-end;
        justify-items: center;
    }
}