@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 80px;
    width: 100vw;
    background: $--dark-gray;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: $--gray;
    border: 2px solid $--dark-gray;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}