@import 'vars';

.nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background: $--white;
    border-bottom: 1px solid $--white;
    z-index: 4;
}

.nav-logo {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: transform 200ms;
    will-change: transform;
}

.nav-logo:hover {
    transform: translateX(10px);
}

.nav .menu-boton {
    position: absolute;
    top: 0;
    right: 2vw;
    padding: 0 6px;
    height: 120px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    background: $--dark-gray;
    transition: transform 100ms ease-in;
    will-change: transform;
    cursor: pointer;
    border-radius: 0 0 8px 8px;
    z-index: 3;
}

.nav .menu-boton:hover {
    transform: translateY(5px);
}

.nav .menu-boton span {
    color: $--white;
    font-size: $--font-size-sm;
}

.nav .menu-icon {
    width: 25px;
    height: 25px;
    filter: invert(100%);
}