@import 'vars';

.IconItem {
    padding: 40px 20px;
    margin: 5px;
    width: 20vw;
    min-height: 250px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 2px solid $--gray;
    border-left: 2px solid $--gray;
}

.IconItem .icon {
    padding: 5px;
    width: 2.8vw;
    min-width: 40px;
    height: auto;
}

.IconItem h4 {
    padding: 10px 0;
    font-size: $--font-size-md-sm;
    color: $--white;
}

.IconItem span {
    font-size: $--font-size-sm;
    color: $--gray;
}