@import 'vars';

.ListIcon {
    padding: 40px;
    width: 100vw;
    height: 40vh;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: $--dark-gray;
}